menu "BT SPP - TWAI"
    config BT_BRIDGE_RX_BUFSZ
        int "BT Rx Buffer Size"
        default 4096

    config TWAI_BRIDGE_TX_GPIO_NUM
        int "TWAI Tx Pin"
        default 23

    config TWAI_BRIDGE_RX_GPIO_NUM
        int "TWAI Rx Pin"
        default 22
endmenu